body {
  /*font-family: 'Oswald', sans-serif;*/
  /*font-size: 120%;*/
/*font-family: 'Anton', sans-serif;*/
}


.display-none {
  display: none;
}

/*.form-text-input {
  margin: 3.5%;
}*/

h1 {
  margin-top: 1.5%;
}

.error-text {
  color: #A82A2A;
}

.submit-button {
  margin: 5%;
}
