.dashboard--wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}




@media (min-width: 70rem) {
  .splash--card {
    width: 30vw;
    height: 45vh;
    background-color: #202B33;
    opacity: .6;
  }
}
